<form name="contact" method="POST" class="mx-auto max-w-lg" netlify>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block text-sm font-bold mb-2" for="first-name">
        First Name
      </label>
      <input class="appearance-none block w-full bg-gray-200 text-neutral-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" id="first-name" type="text" name="first_name" required>
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label class="block text-sm font-bold mb-2" for="last-name">
        Last Name
      </label>
      <input class="appearance-none block w-full bg-gray-200 text-neutral-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" id="last-name" name="last_name" type="text" required>
    </div>
  </div>

  <div class="mb-6">
    <label class="block text-sm font-bold mb-2" for="email">
      E-mail
    </label>
    <input class="appearance-none w-full bg-gray-200 text-neutral-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" id="email" name="email" type="email" required>
  </div>

  <div class="mb-6">
    <label class="block text-sm font-bold mb-2" for="message">
      Message
    </label>
    <textarea name="message" id="message" class="w-full bg-gray-200 text-neutral-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white h-48 resize-y" required></textarea>
  </div>

  <div class="flex justify-start">
    <button class="bg-teal-400 hover:bg-teal-500 text-neutral-100 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline bg-primary-600 hover:bg-primary-500 dark:bg-primary-600 dark:text-neutral-100 dark:hover:bg-primary-500" type="submit">
    Send
</button>

    <!--<button class="bg-teal-400 hover:bg-teal-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
      Send
    </button>-->
  </div>
</form>

