<div class="m-8">
    <form action="https://caryleetenor.us21.list-manage.com/subscribe/post?u=00b0f74043c307179384c6b03&amp;id=638ed11252&amp;f_id=0075efe6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate flex" target="_blank">
        <input type="email" name="EMAIL" class="required email rounded-l-lg p-4 border-t mr-0 border-b border-l text-gray-800 border-gray-200 bg-white flex-grow" placeholder="your@mail.com" id="mce-EMAIL" required=""/>
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="px-8 rounded-r-lg text-gray-800 font-bold p-4 uppercase border-t border-b border-r">Subscribe</button>

        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_00b0f74043c307179384c6b03_638ed11252" tabindex="-1" value="">
        </div>
    </form>
    <div id="mce-responses" class="clear">
        <div class="response font-thin italic" id="mce-error-response" style="display:none"></div>
        <div class="response font-thin italic" id="mce-success-response" style="display:none"></div>
    </div>

</div>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
    (function($) {
        window.fnames = new Array(); 
        window.ftypes = new Array();
        fnames[0]='EMAIL';ftypes[0]='email';
        // You can add additional fields here if needed
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
