<div id="mc_embed_signup">
    <form action="https://caryleetenor.us21.list-manage.com/subscribe/post?u=00b0f74043c307179384c6b03&amp;id=638ed11252&amp;f_id=0075efe6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mx-auto max-w-lg" target="_blank">
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block text-sm font-bold mb-2" for="mce-FNAME">
                    First Name
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-neutral-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" id="mce-FNAME" type="text" name="FNAME" required>
            </div>
            <div class="w-full md:w-1/2 px-3">
                <label class="block text-sm font-bold mb-2" for="mce-LNAME">
                    Last Name
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-neutral-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" id="mce-LNAME" name="LNAME" type="text" required>
            </div>
        </div>

        <div class="mb-6">
            <label class="block text-sm font-bold mb-2" for="mce-EMAIL">
                E-mail
            </label>
            <input class="appearance-none w-full bg-gray-200 text-neutral-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" id="mce-EMAIL" name="EMAIL" type="email" required>
        </div>

        <div class="flex justify-start">
            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="bg-teal-400 hover:bg-teal-500 text-neutral-100 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline bg-primary-600 hover:bg-primary-500 dark:bg-primary-600 dark:text-neutral-100 dark:hover:bg-primary-500">
                Subscribe
            </button>
        </div>

        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_00b0f74043c307179384c6b03_638ed11252" tabindex="-1" value="">
        </div>
    </form>

    <div id="mce-responses" class="clear mx-auto max-w-lg pt-4">
        <div class="response font-thin italic" id="mce-error-response" style="display:none"></div>
        <div class="response font-thin italic" id="mce-success-response" style="display:none"></div>
    </div>
</div>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
    (function($) {
        window.fnames = new Array(); 
        window.ftypes = new Array();
        fnames[0]='EMAIL';ftypes[0]='email';
        fnames[1]='FNAME';ftypes[1]='text';
        fnames[2]='LNAME';ftypes[2]='text';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
